.aboutPageContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #2b2b2b;
  padding: 2.5em;
}

.aboutPageHeading {
  width: 100%;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 4px 1px #000000;
}

.aboutContentContainer {
  margin: 2em auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.detailsHeading {
  color: #ffffff;
  text-shadow: 1px 3px 1px #000000;
  font-size: 1.75rem;
  padding: 0 0.25em;
  font-weight: 600;
  text-align: center;
}

.projectDetailsContainer {
  width: 45%;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #000000;
  background-color: #202020;
  color: #ffffff;
  padding: 0.65em;
}

.projectDetailsText {
    text-indent: 1em;
}

.teamDetailsContainer {
  width: 35%;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #000000;
  background-color: #202020;
  color: #ffffff;
  position: relative;
  padding: 0.55em;
}

.teamMember {
  margin: 0.9em 0;
  font-size: 1.075rem;
}

.teamMember:first-of-type {
  margin: 0.25em 0 0 0;
}


@media only screen and (max-width: 900px) {
  .detailsHeading {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 800px) {
  .projectDetailsContainer {
    width: 95%;
    margin: 0.25rem 0 3rem;
  }
  .teamDetailsContainer {
    width: 95%;
  }
  .aboutContentContainer {
    flex-direction: column;
    width: 90%;
  }
  .detailsHeading {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 650px) {
  .projectDetailsContainer {
    width: 98%;
    margin: 0.25rem 0 3rem;
  }

  .teamDetailsContainer {
    width: 99%;
  }

  .aboutContentContainer {
    flex-direction: column;
  }

  .detailsHeading {
    font-size: 1.75rem;
  }
  .aboutPageContainer {
    padding: 2.5em 0;
  }
}