.aboutPageContainer {
  width: 100%;
  background-color: #2b2b2b;
  padding: 2.5em;
}

.aboutPageHeading {
  width: 100%;
  order: 0;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 4px 1px #000000;
}

.aboutContentContainer {
  margin: 2em auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.detailsHeading {
  color: #ffffff;
  text-shadow: 1px 3px 1px #000000;
  font-size: 1.75rem;
  padding: 0 0.15em;
  font-weight: 600;
}

.projectDetailsContainer {
  width: 40%;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #000000;
  background-color: #272727;
  max-height: 28rem;
  overflow: hidden;
  position: relative;
  padding: 0.55em;
}

.projectDetailsText {
  color: #ffffff;
  text-align: justify;
  position: absolute;
  overflow: hidden;
  text-overflow: hidden;
  padding: 0 0.55em 0 0;
}

.teamDetailsContainer {
  width: 36%;
  border: 2px solid #ffffff;
  border-radius: 8px;
  padding: 0.55em;
  box-shadow: 2px 2px 2px #000000;
  background-color: #272727;
  color: #ffffff;
  max-height: 28rem;
  overflow: hidden;
  position: relative;
  padding: 0.55em;
}

.teamList {
  list-style: none;
  padding: 0 0.55em 0 0;
  position: relative;
  overflow: hidden;
  text-overflow: hidden;
}

.teamMember:first-of-type {
  padding-top: 0;
}

.teamMember {
  padding: 0.6em 0;
}

.teamMemberName {
  font-weight: 700;
  font-size: 1.15rem;
}

@media only screen and (max-width: 700px) {
}
