.footer {
  display: flex;
  flex-direction: column;
  background: #131212;
  height: 100%;
  width: 100%;
  color: #ffffff;
  text-align: center;
  padding: 1em;
  margin-top: auto;
  position: relative;
  font-size: 1rem;
}

#button {
  font-size: 1.15rem;
  color: #fff12a;
  bottom: 35px;
  margin-top: -50px;
}

#button i:hover {
  color: #ddd23d;
}

.footerText {
  padding: 1em;
  color: #fff12a;
  margin-top: -10px;
}

.footerText2 {
  color: #ffffff;
}