.form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 0.25em 0;
}

.formLabel {
  margin: 0.65em 0;
  color: #ffffff;
  text-decoration: underline;
  font-size: 1.25rem;
}

.boxInput {
  padding: 0.5em 0.75em;
  background-color: #404040;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 1.025rem;
  width: 55%;
  color: #ffffff;
  margin-bottom: 0.15em;
}


.characterSubmitButton {
  margin: 0.15em 0;
  padding: 0.5em;
  background-color: #eee234;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
}


.characterSubmitButton:hover {
  background-color: #ddd23d;
}