.header {
  background: #131212;
  width: 100%;
  z-index: 1;
  position: fixed;
  padding: 0.8em 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav a {
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 1.1rem;
  color: #fff;
  font-family: sans-serif;
  font-weight: 700;
}

.nav a:hover {
  color: #fff12a;
}

@media only screen and (max-width: 700px) {
  .nav {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .nav a {
    font-size: 1rem;
    border-bottom: solid;
    border-width: 0.1em;
    margin: 0.45em 0;
  }
}
