.header {
  background: #262626;
  width: 100%;
  z-index: 1;
  position: fixed;
  padding: 1em 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav a {
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 1rem;
  color: #fff;
  font-family: sans-serif;
  font-weight: 700;
}

.nav a:hover {
  color: #fff23d;
}
